// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#bottom {
	background-color: rgba(0, 0, 255, 1.0);
	color: white;
	
}

.row {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
}

.mainnav{
	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: 10%;
	padding-right: 10%;
}

h2, h3 {
	color: blue;
}
